@import "vars";

body {
    background: $clr-body-bg;
    font-family: $base-font-family;
}

@function px-to-rem($px, $base-font-size: 16) {
    @return calc(($px / $base-font-size) * 1rem);
}

.container {
    width: 692px;
    margin: 0 auto;

    color: #fff;
}

p {
    font-size: px-to-rem(14);
    border: px-to-rem(1) solid transparent;
}